body {
  background-color: #ffffff;
  font-family: 'Roboto', serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

.header {
  padding: 15px 0;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacts__phone {
  margin-right: 13px;
  font-size: 22px;
}

.header-contacts__phone:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 13px;
}

.button {
  padding: 13px 22px;
  font-family: inherit;
  font-size: 14px;
  color: white;
  background-color: #ff9d00;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.main {
  position: relative;
  z-index: 1;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #373737 url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  color: white;
}

.main::before {
  position: absolute;
  z-index: 0;
  display: block;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-img {
  position: relative;
}

.main-img::before {
  position: absolute;
  z-index: -1;
  margin-left: -194px;
  content: '';
  width: 388px;
  height: 388px;
  left: 50%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.main-text__title {
  margin-bottom: 12px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 28px;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  margin-bottom: 20px;
  padding-right: 89px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.form-title__important {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.form__input {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 10px;
  padding: 20px;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
}

.form-small {
  font-size: 14px;
  font-weight: 300;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -32px;
  font-size: 35px;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  min-height: 67px;
  margin: 0;
  background-color: #ff9d00;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  line-height: 67px;
  text-align: center;
}

.overlay .popup-form {
  padding: 35px 88px 47px 88px;
  background: url(../img/modals/modal-bg.jpg) center no-repeat;
  background-size: cover;
  color: white;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

.overlay .popup-form__input {
  padding-left: 10px;
  margin-top: 17px;
  margin-right: 16px;
  width: 365px;
  height: 56px;
  border: none;
  border-radius: 5px;
}

.overlay .popup-form__note {
  margin-top: 10px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
